# FASTAPI Requirements
fastapi==0.95.2
uvicorn[standard]==0.21.1
flake8==6.1.0
pytest==8.3.5
sqlalchemy==2.0.41
alembic==1.13.3
httpx>=0.23.0,<0.24.0
psycopg2-binary>=2.9.9
slowapi==0.1.9
boto3>=1.28.0

# Auth
passlib[bcrypt]==1.7.4
bcrypt>=4.0.0
python-jose[cryptography]==3.3.0
python-dotenv==1.0.1
email-validator==2.2.0
python-multipart==0.0.6
